.home-section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-section h1 {
  text-shadow: 0 2px 4px rgba(42, 62, 60, 0.15);
}
